body {
    font-family: "JetBrains Mono", monospace;
    border-radius: 0;
}

:root,
[data-bs-theme=light] {
    --bs-border-color: #212529;
    --bs-border-radius: 0rem;
    --bs-border-radius-sm: 00rem;
    --bs-border-radius-lg: 00rem;
    --bs-border-radius-xl: 0rem;
    --bs-border-radius-xxl: 0rem;
    --bs-border-radius-2xl: 0rem;
    --bs-border-radius-pill: 0rem;

    --bs-link-color: #212529;
    --bs-link-color-rgb: 33, 37, 41;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #212529;
    --bs-link-hover-color-rgb: 133, 137, 141;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}